<a href="https://colab.research.google.com/github/MMoltira/data_viz/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
path='/content/drive/My Drive/DWDM_material'

In [5]:
covid_file_path=os.path.join(path,'covid19_2021.csv')
print(covid_file_path)

/content/drive/My Drive/DWDM_material/covid19_2021.csv

In [6]:
data_covid=pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [7]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [8]:
data_covid.shape

(12653, 10)

In [9]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [10]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

In [11]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

###Table slicing

ตัดเฉพาะ column ที่ต้องการ

In [12]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]

In [13]:
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

### ตัดเฉพาะ row ที่ต้องการ

#### แบบง่าย แต่ใช้อะไรไม่ค่อยได้

In [36]:
data_covid.iloc[1:4,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[3 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [15]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ



1.   ชื่อ column
2.   ใส่ row ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (True/False))

In [16]:
eight = data_covid.iloc[:8,:]
eight

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [17]:
eight[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [18]:
eight['province_of_onset'] =='กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

```
HW6

1.ให้เราคำนวนอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด

2.คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น

```

#ข้อที่ 1. ให้คำนวนอายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด

In [37]:
เพศ = data_covid[['sex','age']]
หญิง = เพศ[เพศ['sex']=='หญิง']
list_1 = หญิง[['age']]
G1 = list_1.dropna()

In [38]:
N1 = G1.values

In [39]:
G1.mean()

age    36.639555
dtype: float64

In [40]:
    answer = []
    for i in N1:
        data = float(i)
        answer.append(data)

In [41]:
เพศ2 = data_covid[['sex','age']]
ชาย = เพศ2[เพศ['sex']=='ชาย']
list_2 = ชาย[['age']]
G2 = list_2.dropna()

In [42]:
N2 = G2.values

In [43]:
answer2 = []
for i in N2:
    data = float(i)
    answer2.append(data)

In [44]:
def mean(put):
    sum = 0
    for i in put:
        sum = sum + i
    mean_girl = sum/len(put)
    return mean_girl
    print(mean_girl)

In [45]:
print(f'จากข้อมูลอายุเฉลี่ยของผู้หญิงทั้งหมด = {mean(answer)}')
print(f'จากข้อมูลอายุเฉลี่ยชองผู้ชายทั้งหมด = {mean(answer2)}')

จากข้อมูลอายุเฉลี่ยของผู้หญิงทั้งหมด = 36.63955450022614
จากข้อมูลอายุเฉลี่ยชองผู้ชายทั้งหมด = 39.46076940331987

#ข้อที่ 2. คำนวณอายุเฉลี่ยของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น

In [46]:
T1= data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [47]:
T2 = T1[['sex','age']]
T3 = T2[T2['sex']=='หญิง']
T4 = T3[['age']]
T4

        age
462    36.0
1970   70.0
2637   63.0
5948   32.0
6082   36.0
11697  17.0
11698  37.0

In [48]:
G_khonkaen = T4.values

In [49]:
KKG = []
for i in G_khonkaen:
    data = float(i)
    KKG.append(data)

In [50]:
T2 = T1[['sex','age']]
TB = T2[T2['sex']=='ชาย']
T_B = TB[['age']]
T_B

        age
180    33.0
1466   19.0
2673   68.0
9333   17.0
9334   20.0
10610  17.0
11517  12.0

In [52]:
B_khonkaen = T_B.values

In [53]:
KKB = []
for i in B_khonkaen:
    data = float(i)
    KKB.append(data)

In [54]:
print(f'จากข้อมูงผู้ป่วยในจังหวักขอนแก่นอายุเฉลี่ยของผู้หญิง = {mean(KKG)}')
print(f'จากข้อมูงผู้ป่วยในจังหวักขอนแก่นอายุเฉลี่ยของผู้ชาย = {mean(KKB)}')

จากข้อมูงผู้ป่วยในจังหวักขอนแก่นอายุเฉลี่ยของผู้หญิง = 41.57142857142857
จากข้อมูงผู้ป่วยในจังหวักขอนแก่นอายุเฉลี่ยของผู้ชาย = 26.571428571428573

In [ ]:
for a in female['age']