<a href="https://colab.research.google.com/github/MMoltira/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
from google.colab import drive #เชื่อม Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path='/content/drive/My Drive/DWDM_material'

In [6]:
import os
import pandas # เรียกใช้ฟังก์ชัน

In [7]:
search_request = os.path.join(path,'search_request.csv') #สร้างที่อยู่โดยใช้ os.path.join

In [8]:
search_request_df = pandas.read_csv(search_request)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
search_request_df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

##เปรียบเทียบจำนวน Requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59 
##เปรียบเทียบจำนวน Requests ของวันจันทร์-พฤหัสบดี กับ วันศุกร์ - อาทิตย์

## 1.เปรียบเทียบจำนวน Requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

In [13]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time

In [14]:
search_request_df.isnull().any()

Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool

In [15]:
search_request_df['search_timestamp']  = pd.to_datetime(search_request_df['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [16]:
search_request_df[search_request_df['search_timestamp'].dt.dayofweek == 3]

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
253              253  5e8ef1b0-6df6-4140-a867-91c8aa1d9c7c  ...  12.6087  102.118
254              254  9acce958-a6e5-4ba0-8a2b-92d453abe495  ...  13.7594  100.503
...              ...                                   ...  ...      ...      ...
10004269    10005142  9b2250fd-a462-4820-b604-b2d585b9a537  ...      NaN      NaN
10004270    10005143  6fff09ba-f16a-4510-bd26-97183f9f7bde  ...      NaN      NaN
10004271    10005144  5cb2fbb7-2a48-400e-8324-04cc7c302a30  ...      NaN      NaN
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN

[1087060 rows x 10 columns]

In [17]:
A = search_request_df[search_request_df['search_timestamp'].dt.time < time(hour=12)]
A = A[A['search_timestamp'].dt.time >= time(hour=11)]
A = A.iloc[:,2].count()
A

738397

In [18]:
B = search_request_df[search_request_df['search_timestamp'].dt.time >= time(hour=23)]
B = B.iloc[:,2].count()
B

278510

In [19]:
A > B

True

In [20]:
print(f'ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ{A}ซึ่งมากกว่าช่วงเวลา 23.00 ถึง 0.00น.ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {B}  ซึ่งมากกว่า{A-B} ครั้ง')

ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ738397ซึ่งมากกว่าช่วงเวลา 23.00 ถึง 0.00น.ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 278510  ซึ่งมากกว่า459887 ครั้ง

In [21]:
#วันจันทร์-พฤหัส
day_work = search_request_df[search_request_df['search_timestamp'].dt.dayofweek <= 3] 
day_work = day_work.iloc[:,2].count()
day_work

4220697

In [22]:
#ศุกร์-อาทิตย์
day_holiday = search_request_df[search_request_df['search_timestamp'].dt.dayofweek >= 4] 
day_holiday = day_holiday.iloc[:,2].count()
day_holiday

5783659

In [23]:
day_work > day_holiday

False

In [24]:
print(f'วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร {day_work} ซึ่งน้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {day_holiday}  ซึ่งน้อยกว่า{day_holiday-day_work} ครั้ง')

วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร 4220697 ซึ่งน้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 5783659  ซึ่งน้อยกว่า1562962 ครั้ง

In [ ]:
import datetime

In [ ]:
datetime.time(1) # คือ 1 ชั่วโมง 0 นาที 0 วินาที 0 ไมโครวินาที
datetime.time(00, 59, 59, 999999) # คือ 59 นาที 59 วินาที 999999 ไมโครวินาที

datetime.time(0, 59, 59, 999999)

In [ ]:
print(datetime.time(00, 59, 59, 999999)) # ได้ 00:59:59.999999

00:59:59.999999

In [ ]:
datetime.datetime(2016,6,21)>datetime.datetime(2016,6,20) # ได้ True

True

In [ ]:
datetime.date(2018,2,29) # ได้ ValueError: day is out of range for month
datetime.date(2018,0,28) # ได้ ValueError: month must be in 1..12
datetime.date(2018,2,27.1) # ได้ TypeError: integer argument expected, got float

ValueError: ignored

In [ ]:
datetime.datetime(2018,6,21) # 21 มิ.ย. 2016 เวลา 0:00:00:000000 น.

datetime.datetime(2018, 6, 21, 0, 0)

In [ ]:
tdt = search_request_df
print(tdt.days) 
print(tdt.seconds) 
print(tdt.microseconds) 
print(tdt.total_seconds())

AttributeError: ignored

In [ ]:
print(datetime.datetime.fromtimestamp(0)) # ได้ 1970-01-01 07:00:00
print(datetime.datetime.utcfromtimestamp(0)) # ได้ 1970-01-01 00:00:00

1970-01-01 00:00:00
1970-01-01 00:00:00