<a href="https://colab.research.google.com/github/MMoltira/data_viz/blob/main/QUIZ4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas

In [3]:
from google.colab import drive #เชื่อม Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path='/content/drive/My Drive/DWDM_material'

In [5]:
import os
import pandas # เรียกใช้ฟังก์ชัน

In [6]:
search_click = os.path.join(path,'search_click.csv') #สร้างที่อยู่โดยใช้ os.path.join

In [7]:
search_click_df = pandas.read_csv(search_click)

In [8]:
search_click_df

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

In [9]:
#เช็คว่าตารางมี missing หรือไม่
## Missing Values
search_click_df.isnull() #แต่ละช่องในตารางเป็นช่องว่างหรือป่าว

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [10]:
search_click_df.isnull().any() #.any จะยุบรวม T ในแต่ละคอลัมมา or กัน ดูตามแนวคอลัมว่ามี missing หรือไม่

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [11]:
search_click_df.isnull().any().any()

True

In [12]:
search_click_df_nm=search_click_df.dropna() # .dropna() คือ การลบ missing ออกจากตาราง search_click_df แล้วสร้างตัวแปรใหม่มารับ

In [13]:
search_click_df_nm.isnull().any().any() #เอามาเช็คอีกรอบจะเห็นว่าเป็น False แล้ว คือ ไม่มี missing อยู่ แต่จะทำให้ข้อมูลมันลดลง

False

In [14]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)