<a href="https://colab.research.google.com/github/MMoltira/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
from google.colab import drive #เชื่อม Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path='/content/drive/My Drive/DWDM_material'

In [4]:
import os
import pandas # เรียกใช้ฟังก์ชัน

In [5]:
search_request = os.path.join(path,'search_request.csv') #สร้างที่อยู่โดยใช้ os.path.join

In [6]:
search_request_df = pandas.read_csv(search_request)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
search_request_df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

##เปรียบเทียบจำนวน Requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59 
##เปรียบเทียบจำนวน Requests ของวันจันทร์-พฤหัสบดี กับ วันศุกร์ - อาทิตย์

## 1.เปรียบเทียบจำนวน Requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

In [8]:
import datetime

In [10]:
datetime.time(1) # คือ 1 ชั่วโมง 0 นาที 0 วินาที 0 ไมโครวินาที
datetime.time(00, 59, 59, 999999) # คือ 59 นาที 59 วินาที 999999 ไมโครวินาที

datetime.time(0, 59, 59, 999999)

In [11]:
print(datetime.time(00, 59, 59, 999999)) # ได้ 00:59:59.999999

00:59:59.999999

In [12]:
datetime.datetime(2016,6,21)>datetime.datetime(2016,6,20) # ได้ True

True

In [13]:
datetime.date(2018,2,29) # ได้ ValueError: day is out of range for month
datetime.date(2018,0,28) # ได้ ValueError: month must be in 1..12
datetime.date(2018,2,27.1) # ได้ TypeError: integer argument expected, got float

ValueError: ignored

In [14]:
datetime.datetime(2018,6,21) # 21 มิ.ย. 2016 เวลา 0:00:00:000000 น.

datetime.datetime(2018, 6, 21, 0, 0)

In [20]:
tdt = search_request_df
print(tdt.days) 
print(tdt.seconds) 
print(tdt.microseconds) 
print(tdt.total_seconds())

AttributeError: ignored

In [21]:
print(datetime.datetime.fromtimestamp(0)) # ได้ 1970-01-01 07:00:00
print(datetime.datetime.utcfromtimestamp(0)) # ได้ 1970-01-01 00:00:00

1970-01-01 00:00:00
1970-01-01 00:00:00